<% if flash[:error].present? %>
  <div class="error">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_for(User.new, :url => session_path) do |f| %>
  User name: <%= f.text_field :login %><br />
  Password: <%= f.password_field :password, :value => "" %><br />
  <%= f.submit %>
<% end %>
