<h1>Add a citation to <%= @figure.canonical_name %></h1>

<div id="source_type">
  This citation refers to a
  <%= link_to "Book", new_figure_source_path(@figure, :kind => "book"), "data-remote" => "1", "data-method" => "get" %>
  <%= link_to "Periodical", new_figure_source_path(@figure, :kind => "periodical"), "data-remote" => "1", "data-method" => "get" %>
  <%= link_to "Website", new_figure_source_path(@figure, :kind => "online"), "data-remote" => "1", "data-method" => "get" %>
</div>

<div id="form">
</div>

<%= link_to("Cancel", figure_path(@figure)) %> and go back to <%= @figure.canonical_name %>
