<fieldset class="group" style="float: left">
  <legend>Recently updated <%= title %></legend>

  <table>
    <tr>
      <%= render :partial => "summary", :collection => figures.first(4).in_groups_of(4).first, :locals => { :size => :small } %>
    </tr>
    <% if figures.length > 4 %>
      <% figures.to_a.from(4).in_groups_of(8).each do |row| %>
        <tr>
          <%= render :partial => "summary", :collection => row[0..-2], :locals => { :size => :thumb } %>
          <% if more %>
            <td class="thumb more">
              <%= link_to more_url do %>
                See all<br />
                <span class="count"><%= more %></span><br />
                <%= title %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</fieldset>
<div style="clear: both"></div>
