<% @title = @figure.common_name %>

<% @figure.constructions.each do |cons| %>
  <h2>
    <%= cons.notation %>
    <% if cons.name %>
      (<%= cons.name %>)
    <% end %>
    [<%= link_to("edit", edit_construction_path(cons)) %>]
  </h2>

  <table>
    <% each_step(cons) do |number, step| %>
      <tr>
        <th class="number"><%= number %></th>
        <td class="step">
          <% if step.range? %>
            steps <%= step.duplicate_from %> to <%= step.duplicate_to %> of <%= link_to(step.duplicate.common_name, figure_path(step.duplicate.figure)) %>
          <% elsif step.make? %>
            <%= link_to(step.duplicate.common_name, figure_path(step.duplicate.figure)) %>
          <% else %>
            <%= step.instruction %>
            <% if step.comment.present? %>
              <span class="comment">(<%= step.comment %>)</span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<p>
  <%= link_to("Add a new construction", new_figure_construction_path(@figure)) %>
</p>
