<% @title = @figure.canonical_name %>

<% content_for :header do %>
  <%= csrf_meta_tag %>
<% end %>

<h1><%= @figure.canonical_name %> <%= link_to("edit", edit_figure_path(@figure)) %></h1>
<% if @figure.aliases.any? %>
<h2 class="aliases">
  <% @figure.aliases.each_with_index do |alt, index| %>
    <span class="aka aka<%= index %>">Also known as </span><%= alt.name %> <%= alias_locations_for(alt) %><br />
  <% end %>
</h2>
<% end %>

<% if @figure.description.present? %>
  <div class="description">
    <%= markdown2html(@figure.description) %>
  </div>
<% end %>

<ul class="tabs">
  <li id="tab_new_construction" class="new"><%= link_to("New instructions", { :anchor => "new_construction" }, "data-behaviors" => "tab", "data-link" => "new_construction") %></li>
  <% @figure.constructions.each do |cons| %>
    <li id="<%= dom_id(cons, :tab) %>"><%= link_to(cons.notation.name(:short), { :anchor => dom_id(cons) }, "data-behaviors" => "tab", "data-link" => dom_id(cons)) %></li>
  <% end %>
</ul>

<div id="pages">
<% @figure.constructions.each do |cons| %>
  <div class="tab-body construction" id="<%= dom_id(cons) %>">
    <div class="meta">
      <p>
        These instructions are in <%= link_to(cons.notation.name, notation_path(cons.notation)) %>.
        <% if cons.name.present? %>
          <%= cons.notation.name(:short) %> specifically calls this figure "<strong><%= cons.name %></strong>".
        <% end %>
      </p>

      <p>You may <%= link_to("edit these instructions", edit_construction_path(cons)) %>, or <%= link_to("delete them", construction_path(cons), :method => :delete, :confirm => "Are you sure you want to delete these instructions? This is permanent!") %>.</p>
    </div>

    <% if cons.description.present? %>
      <div class="description">
        <%= markdown2html(cons.description) %>
      </div>
    <% end %>

    <% if cons.illustrations.any? %>
      <div class="illustrations">
        <%= render :partial => "illustrations/small", :collection => cons.illustrations %>
      </div>
    <% end %>

    <table>
      <% each_step(cons) do |number, step| %>
        <tr class="step<%= " named" if step.named? %>">
          <th class="number"><%= number %></th>
          <td class="step">
            <%= format_instruction(step) %>
            <% if step.comment.present? %>
              <span class="comment">(<%= step.comment %>)</span>
            <% end %>

            <% if step.named? %>
              <span class="name">
                <% if step.figure %>
                  [<%= link_to(step.display_name, figure_path(step.figure)) %>]
                <% else %>
                  [<%= step.display_name %>]
                <% end %>
              </span>
            <% end %>
          </td>
        </tr>
        <% if step.named? %>
          <tr class="spacer"><td colspan="2"></td></tr>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>
  <div class="tab-body" id="new_construction">
    <div class="meta">
      <p>Add new instructions to <strong><%= @figure.canonical_name %></strong>.</p>
    </div>

    <%= form_for([@figure, @figure.constructions.build]) do |f| %>
      <%= render :partial => "constructions/form", :object => f %>

      <p><%= f.submit "Add these instructions to #{@figure.canonical_name}" %></p>
    <% end %>
  </div>
</div>

<%= render "sources" %>
