<% @title = @figure.common_name %>

<ul class="tabs">
  <% @figure.constructions.each do |cons| %>
    <li id="<%= dom_id(cons, :tab) %>"><%= link_to(Notation.for(cons.notation).name(:short), { :anchor => dom_id(cons) }, "data-tab" => dom_id(cons)) %></li>
  <% end %>
</ul>

<div id="pages">
<% @figure.constructions.each do |cons| %>
  <div class="tab-body" id="<%= dom_id(cons) %>">
    <% if cons.name %>
      <h2><%= cons.name %></h2>
    <% end %>

    <p>[<%= link_to("edit", edit_construction_path(cons)) %>]</p>

    <table>
      <% each_step(cons) do |number, step| %>
        <tr class="step<%= " named" if step.named? %>">
          <th class="number"><%= number %></th>
          <td class="step">
            <% if step.range? %>
              steps <%= step.duplicate_from %> to <%= step.duplicate_to %> of <%= link_to(step.duplicate.common_name, construction_path(step.duplicate)) %>
            <% elsif step.make? %>
              <%= link_to(step.duplicate.common_name, construction_path(step.duplicate)) %>
            <% else %>
              <%= step.instruction %>
              <% if step.comment.present? %>
                <span class="comment">(<%= step.comment %>)</span>
              <% end %>
            <% end %>

            <% if step.named? %>
              <span class="name">
                <% if step.figure %>
                  [<%= link_to(step.display_name, figure_path(step.figure)) %>]
                <% else %>
                  [<%= step.display_name %>]
                <% end %>
              </span>
            <% end %>
          </td>
        </tr>
        <% if step.named? %>
          <tr class="spacer"><td colspan="2"></td></tr>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>
</div>

<p>
  <%= link_to("Add a new construction", new_figure_construction_path(@figure)) %>
</p>
