<% @title = @figure.common_name %>

<% content_for :header do %>
  <%= csrf_meta_tag %>
<% end %>

<ul class="tabs">
  <li id="tab_new_construction" class="new"><%= link_to("New instructions", { :anchor => "new_construction" }, "data-tab" => "new_construction") %></li>
  <% @figure.constructions.each do |cons| %>
    <li id="<%= dom_id(cons, :tab) %>"><%= link_to(cons.notation_info.name(:short), { :anchor => dom_id(cons) }, "data-tab" => dom_id(cons)) %></li>
  <% end %>
</ul>

<div id="pages">
<% @figure.constructions.each do |cons| %>
  <div class="tab-body" id="<%= dom_id(cons) %>">
    <div class="meta">
      <p>
        These instructions are in <%= link_to(cons.notation_info.name, notation_path(cons.notation_info)) %>.
        <% if cons.name %>
          <%= cons.notation_info.name(:short) %> specifically calls this figure "<strong><%= cons.name %></strong>".
        <% end %>
      </p>

      <p>You may <%= link_to("edit these instructions", edit_construction_path(cons)) %>, or <%= link_to("delete them", construction_path(cons), :method => :delete, :confirm => "Are you sure you want to delete these instructions? This is permanent!") %>.</p>
    </div>

    <table>
      <% each_step(cons) do |number, step| %>
        <tr class="step<%= " named" if step.named? %>">
          <th class="number"><%= number %></th>
          <td class="step">
            <% if step.range? %>
              steps <%= step.duplicate_from %> to <%= step.duplicate_to %> of <%= link_to(step.duplicate.common_name, construction_path(step.duplicate)) %>
            <% elsif step.make? %>
              <%= link_to(step.duplicate.common_name, construction_path(step.duplicate)) %>
            <% else %>
              <%= step.instruction %>
              <% if step.comment.present? %>
                <span class="comment">(<%= step.comment %>)</span>
              <% end %>
            <% end %>

            <% if step.named? %>
              <span class="name">
                <% if step.figure %>
                  [<%= link_to(step.display_name, figure_path(step.figure)) %>]
                <% else %>
                  [<%= step.display_name %>]
                <% end %>
              </span>
            <% end %>
          </td>
        </tr>
        <% if step.named? %>
          <tr class="spacer"><td colspan="2"></td></tr>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>
  <div class="tab-body" id="new_construction">
    <div class="meta">
      <p>Add new instructions to <strong><%= @figure.common_name %></strong>.</p>
    </div>

    <% form_for([@figure, @figure.constructions.build]) do |f| %>
      <p>Notation: <%= f.select :notation, notation_options %></p>

      <p>Instructions:<br />
        <%= f.text_area :definition, :class => "instructions" %>
      </p>

      <p><%= f.submit "Add these instructions to #{@figure.common_name}" %></p>
    <% end %>
  </div>
</div>
