<div class="thumbnail" id="thumb.<%= @illustration.location %>">
  <% form.fields_for "#{collection}[]", @illustration do |i| %>
    <%= image_tag(@illustration.url(:thumb), :size => "80x80", :alt => @illustration.caption) %><br />
    <%= i.text_field :caption %><br />
    <span class="number"><%= @illustration.number %></span>
    <% if @illustration.new_record? %>
      <%= i.hidden_field :width %>
      <%= i.hidden_field :height %>
      <%= i.hidden_field :location %>
      <%= i.hidden_field :extension %>
      <%= i.hidden_field :file_size %>
    <% else %>
      <%= i.hidden_field :id %>
    <% end %>
  <% end %>
</div>
