<table>
  <% each_step(construction, from, to) do |number, formatted_number, step| %>
    <tr class="step<%= " named" if step.named? %>">
      <th class="number"><%= formatted_number.html_safe %></th>
      <td class="step" id="<%= dom_id(step) %>">
        <%= format_instruction(step) %>
        <% if step.comment.present? %>
          <span class="comment"><%= format_comment(step) %></span>
        <% end %>

        <% if step.named? %>
          <span class="name">
            <% if step.figure %>
              [<%= link_to(step.display_name, figure_path(step.figure)) %>]
            <% else %>
              [<%= step.display_name %>]
            <% end %>
          </span>
        <% end %>

        <% if (step.make? || step.range?) && step.duplicate %>
          <% if autoexpand?(construction, number) %>
            <div class="expanded loaded">
              <%= render "constructions/expand", :construction => step.duplicate, :from => step.duplicate_from, :to => step.duplicate_to %>
            </div>
          <% else %>
            <div class="expanded" style="display: none;"></div>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% if step.named? %>
      <tr class="spacer"><td colspan="2"></td></tr>
    <% end %>
  <% end %>
</table>
