<p>
  <%= form.label :notation_id, "Notation:", :class => "text" %><br />
  <%= form.select :notation_id, notation_options %><br />
</p>

<p>
  <%= form.label :name, "Notation-specific name:", :class => "text" %><br />
  <%= form.text_field :name, :class => "text2" %><br />
  <small>Optional: only specify if this particular construction has a specific name.</small>
</p>

<p>
  <%= form.label :definition, "Instructions:", :class => "text" %><br />
  <%= form.text_area :definition, :class => "instructions" %>
</p>

<div id="thumbnails" data-next-number="<%= form.object.illustrations.next_number %>" data-prefix="<%= form.object_name %>">
  <%= render :partial => "illustrations/thumbnail", :locals => { :form => form, :name => "old_illustrations" }, :collection => form.object.illustrations %>
</div>

<p id="add_illustration">
  <% fields_for :illustration do |i| %>
    <%= i.label :file, "Add an illustration:", :class => "text" %>
    <span><%= i.file_field :file, "data-behaviors" => "add-illustration", "data-url" => illustrations_path %></span>
  <% end %>
</p>

<iframe id="invisible" style="display: none"></iframe>
