<p>
  <%= form.label :notation_id, "Notation:", :class => "text" %><br />
  <%= form.select :notation_id, notation_options %><br />
</p>

<p>
  <%= form.label :name, "Notation-specific name:", :class => "text" %><br />
  <%= form.text_field :name, :class => "text2" %><br />
  <small>Optional: only specify if this notation gives these instructions a specific name.</small>
</p>

<p>
  <%= form.label :description, "Description:", :class => "text" %><br />
  <%= form.text_area :description, :class => "description" %><br />
  <small>Use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> for formatting</small>
</p>

<p>
  <%= form.label :definition, "Instructions:", :class => "text" %><br />
  <%= form.text_area :definition, :class => "instructions" %>
</p>

<% if form.object.figure && form.object.figure.figure_sources.any? %>
<p class="text">Which sources reference these specific instructions?</p>
<ul class="references">
  <%= form.fields_for :referenced_sources do |refs| %>
    <% form.object.figure.figure_sources.each do |source| %>
      <li>
        <%= reference_check_box(refs, form.object, source) %>
        <%= Bibliographer.format(source.kind, source.data).html_safe %>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>

<p>Illustrations for these instructions:</p>

<%= render "illustrations/form", :destination => "construction_thumbnails", :form => form %>
