<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= @title ? "Ekawada: #{@title}" : "Ekawada!" %></title>
  <%= javascript_include_tag :defaults, "behaviors" %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :header %>
</head>
<body>
  <div id="header">
    <div class="actions">
      <% if current_user.authenticated? %>
        <%= link_to "logout", session_url, :method => "delete" %>
      <% else %>
        <%= link_to "login", new_session_url %>
      <% end %>
    </div>

    <h1>Ekawada!</h1>
  </div>

  <div class="nav">
    <% unless current_page?(figures_path) || current_page?(root_path) %>
      <%= link_to("&larr; All figures".html_safe, figures_path) %>
    <% end %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
  </div>

  <div id="background" style="display: none" data-behaviors="lightbox:close"></div>
  <div id="lightbox" style="display: none" data-behaviors="lightbox:close">
    <div class="loading" style="display: none">
      <p>Loading</p>
      <img src="/images/loading.gif" width="43" height="11" alt="loading..." />
    </div>
    <img class="illustration" src="/images/blank.png" />
    <div class="caption"></div>
  </div>
</body>
</html>
